body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculater {
    background-color: rgba(0, 0, 15, 0.803);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}

input {
    width: 100%;
    padding: 25px;
    font-size: 3rem;
    text-align: left;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.691);
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsla(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

button:hover {
    background-color: rgba(237, 230, 230, 0.105);
}

button:active {
    background-color: rgb(170, 157, 157);

}

.operator-btn {
    background-color: orange;
}

.operator-btn:hover {
    background-color: rgb(224, 174, 82);
}

.operator-btn:active {
    background-color: rgb(193, 129, 9)
}